<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>All Blog Post</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="bg-slate-700 p-4 text-white flex justify-between">
        <h1 class="text-4xl font-bold">Youtube Script Generator</h1>
        <div><a href="#" class="hover:underline">Logout</a>
        </div>
    </nav>
    <br>
    <br>
    <!-- Main Content Container -->
     <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Post</h2>
                <div class="space-y-4">
                    <div class="border border-gray-300 p-4 rounded">
                        <h3>Blog post Title 1</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi quasi quia placeat, minus corporis nulla, voluptatem labore culpa asperiores doloribus saepe voluptatibus inventore quas aut id itaque et sint, enim voluptates praesentium ex facere. Pariatur cum porro veritatis nemo libero!</p>
                    </div>
                    <div class="border border-gray-300 p-4 rounded">
                        <h3>Blog post Title 2</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi quasi quia placeat, minus corporis nulla, voluptatem labore culpa asperiores doloribus saepe voluptatibus inventore quas aut id itaque et sint, enim voluptates praesentium ex facere. Pariatur cum porro veritatis nemo libero!</p>
                    </div>
                    <!-- Repeat -->
                </div>
            </section>
        </div>
     </div>
     <footer class="text-xl text-center p-4 mt-6">
        Powered By Chetona
    </footer>
</body>

</html>